// TODO: Try to clean up CSS so we don't need to disable these linting rules
// scss-lint:disable QualifyingElement

// ====================
// HTML and Body
// ====================
html {
	background-color: $slate-10;
}

body {
	color: $slate-80;
	background-color: $white;
	box-shadow: 0 1px 3px 0 rgba($slate, 0.2);
	font-family: $colfax-regular;
	text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
	padding-bottom: $scaleup-8;
}

.categories-top,
.site-header,
.site-sub-nav,
.site-wrapper,
body {
	max-width: $container-max-width;
	margin-right: auto;
	margin-left: auto;
}

.site-wrapper {
	position: relative;
	z-index: 1;
	overflow-x: hidden;
	background: $white;
}

.site-content {
	padding-top: 75px;
}

.main-content {
	background: $sg-blue-2;
}

a,
a:hover {
	text-decoration: none;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

article,
aside,
main,
section {
	center {
		text-align: left;
	}
}
// Add environment indicator based on body class
body::after {
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 9999;
	padding: 2px 10px;
	color: $white;
	background: $sg-blue;
	opacity: 0.8;
}

body.env-local::after {
	content: "L";
}

body.env-dev::after {
	content: "D";
}

body.env-test::after {
	content: "T";
}

body.env-staging::after {
	content: "S";
}
// Misc
body:not(.app-logged-in) .app-logged-in-show {
	display: none;
}
// ====================
// Element Resets
// ====================

hr {
	max-width: 100%;
	margin: $scaleup-1 auto;
	border: 0;
	border-top: 1px solid $border-color-gray;
	border-bottom: 1px solid $white;
}

.uk-button-primary, .uk-form input.uk-button-primary[type="submit"] {
	color: $white;
	background: $sg-blue-80 !important;
	border-color: $sg-blue !important;

	&:hover {
		background: $sg-blue !important;
	}
}

.school_website-accounts-edit {
	.uk-panel-box, .uk-panel-box-secondary {
		background: transparent;
	}
}

.filter-list {
	li {
		line-height: 1.5;
	}
}

::selection {
	background: $sg-blue-40;
	color: inherit;
}
::-moz-selection {
	background: $sg-blue-40;
	color: inherit;
}