// ====================
// Resource Tags
// ====================

.resource-tag {
	display: flex;
	align-items: center;
	flex-grow: 1;
	margin-bottom: $scaleup-2;
}

.resource-tag-text {
	margin-bottom: 0;
	margin-left: $scaledown-2;
	font-size: $scaledown-2;
}

.resource-tag-circle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: $scaleup-3;
	height: $scaleup-3;
	border-radius: 50%;
}

.resource-tag-icon,
.video-tag-icon {
	display: block;
	width: $scale-0;
	height: $scale-0;
	background-repeat: no-repeat;
	background-size: $scale-0 $scale-0;
}

.resources-guides {
	.resource-tag-text {
		color: $seafoam;
	}

	.resource-tag-circle {
		background-color: $seafoam;
	}

	.resource-tag-icon {
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11"><title>  icon-guide</title><g fill="none"><rect y="-1" width="12" height="12"/><path d="M12 1.3L12 9.3C12 9.4 11.9 9.5 11.7 9.5L8.6 9.5C8.1 9.5 7 9.6 7 10.8 7 10.9 6.9 11 6.8 11L5.2 11C5.1 11 5 10.9 5 10.8 5 9.6 3.9 9.5 3.4 9.5L0.3 9.5C0.1 9.5 0 9.4 0 9.3L0 1.3C0 1.1 0.1 1 0.3 1L0.5 1 0.5 8.8C0.5 8.9 0.6 9 0.8 9L4.4 9C5 9 5.2 9.2 5.2 9.8 5.2 9.9 5.3 10 5.5 10L6.5 10C6.7 10 6.8 9.9 6.8 9.8 6.8 9.2 7 9 7.6 9L11.2 9C11.4 9 11.5 8.9 11.5 8.8L11.5 1 11.7 1C11.9 1 12 1.1 12 1.3ZM7.6 8.5C6.8 8.5 6.4 8.8 6.3 9.5L6.3 9.5 6.3 0.4C6.6 0.1 7.1 0 7.6 0L10.7 0C10.8 0 11 0.1 11 0.3L11 8.3C11 8.4 10.8 8.5 10.7 8.5L7.6 8.5ZM4.4 8.5L1.3 8.5C1.2 8.5 1 8.4 1 8.3L1 0.3C1 0.1 1.2 0 1.3 0L4.4 0C4.9 0 5.4 0.1 5.7 0.4L5.7 9.5 5.7 9.5C5.6 8.8 5.2 8.5 4.4 8.5Z" fill="%23FFF"/></g></svg>');
	}
}

.resources-webcasts {
	.resource-tag-text {
		color: $screample;
	}

	.resource-tag-circle {
		background-color: $screample;
	}

	.resource-tag-icon {
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><title>  icon-webcast</title><g fill="none"><rect width="12" height="12"/><path d="M11 5L11 4.8C11 4.1 10.4 3.5 9.8 3.5L9.7 3.5C9.6 1.5 8 0 6 0 4 0 2.4 1.5 2.3 3.5L2.3 3.5C1.6 3.5 1 4.1 1 4.8L1 5C0.4 5.1 0 5.6 0 6.3 0 6.9 0.4 7.4 1 7.5L1 7.8C1 8.4 1.6 9 2.3 9L3.3 9C3.4 9 3.5 8.9 3.5 8.8L3.5 3.8C3.5 3.6 3.4 3.5 3.3 3.5L2.8 3.5C2.9 1.8 4.3 0.5 6 0.5 7.7 0.5 9.1 1.8 9.2 3.5L8.8 3.5C8.6 3.5 8.5 3.6 8.5 3.8L8.5 8.8C8.5 8.9 8.6 9 8.8 9L9.8 9C9.8 9.8 9.1 10.5 8.3 10.5L7.7 10.5C7.6 9.9 7.1 9.5 6.5 9.5 5.8 9.5 5.3 10.1 5.3 10.8 5.3 11.4 5.8 12 6.5 12 7.1 12 7.6 11.6 7.7 11L8.3 11C9.3 11 10.3 10.2 10.3 8.9 10.7 8.7 11 8.3 11 7.8L11 7.5C11.6 7.4 12 6.9 12 6.3 12 5.6 11.6 5.1 11 5Z" fill="%23FFF"/></g></svg>');
	}
}

.resources-videos {
	.resource-tag-text {
		color: $carrot;
	}

	.resource-tag-circle {
		background-color: $carrot;
	}

	.resource-tag-icon {
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11"><title>  icon-video</title><g fill="none"><rect y="-1" width="12" height="12"/><path d="M0 10.1C0 10.6 0.4 11 1 11L11 11C11.6 11 12 10.6 12 10.1L12 3.5 0 3.5 0 10.1ZM4 5.3C4 5.1 4.2 4.9 4.4 5L8.4 7C8.5 7.1 8.5 7.4 8.4 7.5L4.4 9.5C4.2 9.6 4 9.4 4 9.3L4 5.3ZM5.1 3L3.9 3 6.9 0 8.1 0 5.1 3ZM9.1 3L7.9 3 10.9 0C11.3 0 11.6 0 11.8 0.3L9.1 3ZM3.1 3L1.9 3 4.9 0 6.1 0 3.1 3ZM0.8 0L2.4 0 0 2.4 0 0.8C0 0.3 0.3 0 0.8 0ZM1.1 3L0.1 3 3.1 0 4.1 0 1.1 3ZM7.1 3L5.9 3 8.9 0 10.1 0 7.1 3ZM9.9 3L12 0.9 12 3 9.9 3Z" fill="%23FFF"/></g></svg>');
	}
}

.resources-podcasts {
	.resource-tag-text {
		color: $grass-stain;
	}

	.resource-tag-circle {
		background-color: $grass-stain;
	}

	.resource-tag-icon {
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12"><title>  icon-podcast</title><g fill="none"><rect x="-2" width="12" height="12"/><path d="M6.8 6.7L1.2 6.7C1 6.1 1.1 5.8 1.1 5L2.9 5C3.1 5 3.2 4.9 3.2 4.7 3.2 4.6 3.1 4.4 2.9 4.4L1.1 4.4 1.1 3.9 2.9 3.9C3.1 3.9 3.2 3.8 3.2 3.6 3.2 3.5 3.1 3.3 2.9 3.3L1.1 3.3 1.1 3.1C1.1 1.7 1.5 0 4 0 6.5 0 6.9 1.7 6.9 3.1L6.9 3.3 5.1 3.3C4.9 3.3 4.8 3.5 4.8 3.6 4.8 3.8 4.9 3.9 5.1 3.9L6.9 3.9 6.9 4.4 5.1 4.4C4.9 4.4 4.8 4.6 4.8 4.7 4.8 4.9 4.9 5 5.1 5L6.9 5C6.9 5.8 7 6.1 6.8 6.7ZM1.4 7.2L1.4 7.2 6.6 7.2C6.1 8.2 5.1 8.9 4 8.9 2.9 8.9 1.9 8.2 1.4 7.2ZM7.7 4.7C7.9 4.7 8 4.9 8 5 8 5.8 8 6.1 7.9 6.7L7.4 6.7C7.5 6.1 7.5 5.8 7.5 5 7.5 4.9 7.6 4.7 7.7 4.7ZM0.5 5C0.5 5.8 0.5 6.1 0.6 6.7L0.1 6.7C0 6.1 0 5.8 0 5 0 4.9 0.1 4.7 0.3 4.7 0.4 4.7 0.5 4.9 0.5 5ZM4 9.5C5.4 9.5 6.7 8.5 7.2 7.2L7.8 7.2C7.2 8.8 5.9 9.9 4.3 10L4.3 11.7C4.3 11.9 4.1 12 4 12 3.9 12 3.7 11.9 3.7 11.7L3.7 10C2.1 9.9 0.8 8.8 0.2 7.2L0.8 7.2C1.3 8.5 2.6 9.5 4 9.5Z" fill="%23FFF"/></g></svg>');
	}
}

.type-case {
	.resource-tag-text {
		color: $wild-strawberry;
	}

	.resource-tag-circle {
		background-color: $wild-strawberry;
	}

	.resource-tag-icon {
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="%23FFF"><title>  icon-case-study</title><g fill="none"><rect y="-1" width="12" height="12"/><path d="M8.3 4.5C8.3 4.7 8.1 4.8 8 4.8 7.9 4.8 7.8 4.7 7.8 4.5 7.8 4.2 7.2 3.9 6.5 3.8L6.5 8.3C6.5 9.8 7.7 11 9.3 11 10.8 11 12 9.8 12 8.3 12 7.7 11.8 7.1 11.5 6.7L10 3.2C10 3.1 9.9 3.1 9.9 3.1L9.2 2.4 8.5 0.5C8.5 0.4 8.5 0.4 8.4 0.4 8-0.1 7-0.1 6.6 0.4 6.5 0.4 6.5 0.5 6.5 0.6L6.5 3.3C7.5 3.4 8.3 3.9 8.3 4.5ZM9.3 10.5C8 10.5 7 9.5 7 8.3 7 7 8 6 9.3 6 10.5 6 11.5 7 11.5 8.3 11.5 9.5 10.5 10.5 9.3 10.5ZM0 8.3C0 9.8 1.2 11 2.8 11 4.3 11 5.5 9.8 5.5 8.3L5.5 3.8C4.8 3.9 4.3 4.2 4.3 4.5 4.3 4.7 4.1 4.8 4 4.8 3.9 4.8 3.8 4.7 3.8 4.5 3.8 3.9 4.5 3.4 5.5 3.3L5.5 0.5C5.5 0.5 5.5 0.4 5.4 0.4 5-0.1 4-0.1 3.6 0.4 3.5 0.4 3.5 0.4 3.5 0.4L2.8 2.4 2.1 3.1C2.1 3.1 2 3.1 2 3.2L0.5 6.7C0.2 7.1 0 7.7 0 8.3ZM2.8 10.5C1.5 10.5 0.5 9.5 0.5 8.3 0.5 7 1.5 6 2.8 6 4 6 5 7 5 8.3 5 9.5 4 10.5 2.8 10.5ZM2.8 7C2.9 7 3 6.9 3 6.8 3 6.6 2.9 6.5 2.8 6.5 1.8 6.5 1 7.3 1 8.3 1 8.4 1.1 8.5 1.3 8.5 1.4 8.5 1.5 8.4 1.5 8.3 1.5 7.6 2.1 7 2.8 7ZM9.3 7C9.4 7 9.5 6.9 9.5 6.8 9.5 6.6 9.4 6.5 9.3 6.5 8.3 6.5 7.5 7.3 7.5 8.3 7.5 8.4 7.6 8.5 7.8 8.5 7.9 8.5 8 8.4 8 8.3 8 7.6 8.6 7 9.3 7Z" fill="%23FFF"/></g></svg>');
	}

	.video-tag-icon {
		background-image: url('data:image/svg+xml;utf8,<svg width="9px" height="11px" viewBox="0 0 9 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="our-customers-hifi" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-925.000000, -3324.000000)"> <g id="All-Customers" transform="translate(240.000000, 2530.000000)" fill="#FFFFFF"> <g id="Company" transform="translate(494.000000, 776.000000)"> <g id="Video-Case-Study-Tag" transform="translate(182.000000, 11.000000)"> <polygon id="Rectangle-3" transform="translate(11.058824, 12.470588) rotate(-315.000000) translate(-11.058824, -12.470588) " points="6.58823529 10.2820428 15.5294118 8 13.2473689 16.9411765"></polygon> </g> </g> </g> </g> </svg>');
		background-position-x: 2px;
	}
}

.case-banner .resource-tag-icon {
	background-image: none;
}

.resources-tool {
	.resource-tag-text {
		color: $mantis;
	}
}

.resources-article {
	.resource-tag-text {
		color: $lime;
	}
}

.resources-interactive {
	.resource-tag-text {
		color: $wild-strawberry;
	}
}
