.site-footer {
	bottom: 0;
	width: 100%;
	margin-top: 0;
	color: $white-transparent-80;
	background-color: $slate;

	&__header {
		padding-top: 1.75rem;
		padding-bottom: 1.75rem;
		font-size: $scaledown-1;
	}
}

.site-footer--landing .site-footer__bottom {
	border-top: none;
}

.site-footer:not(.site-footer--landing) {
	padding: $scaleup-6 0 0;
}

.site-footer__section {
	margin: 0 0 $scaleup-6;
	font-size: $scaledown-1;
}

.site-footer__title {
	font-family: $colfax-medium;
	font-size: $scaledown-2;
	letter-spacing: 0.85px;
	color: $white;
	text-transform: uppercase;
}

.site-footer__link-wrapper {
	margin: 0.3125rem 0;
}

.site-footer__link {
	color: $white-transparent-80;
	text-decoration: none;

	&:hover,
	&:active,
	&:focus {
		color: $white;
	}
}

.site-footer__link--careers::after,
.site-footer__link-wrapper--pricing,
.site-footer__link-wrapper--try-for-free {
	display: inline-block;
}

.site-footer__link--careers::after,
.site-footer__link-wrapper--try-for-free {
	padding: 0.05rem $scaledown-5 0;
	margin-left: 4px;
	font-size: $scaledown-1;
	line-height: $scaleup-1;
	white-space: nowrap;
	background: $sg-blue;
	border-radius: $border-radius / 2;
}

.site-footer__link--careers::after {
	content: "We're hiring!";
}

.site-footer__link-wrapper--separator {
	width: $scaleup-6;
	height: 1px;
	margin: $scaleup-1 0;
	background-color: $white-transparent-10;
}

.site-footer__link--separator {
	display: none;
}

.site-footer__bottom {
	padding: $scaleup-3 0;
	border-top: 1px solid $white-transparent-10;
}

.site-footer__legal {
	margin: 0;
	font-size: $scaledown-1;
	text-align: center;

	@include breakpoint(large) {
		text-align: right;
	}

	a {
		color: $white-transparent-80;
	}

	a:hover,
	&:active,
	&:focus {
		color: $white;
	}
}

.site-footer__copyright {
	margin-left: $scaleup-3;
	color: $white;
}

.site-footer__social {
	margin: 0;
	text-align: center;

	@include breakpoint(large) {
		text-align: left;
	}

	li {
		display: inline-block;
		margin: 0 $scaledown-2 0 0;
	}

	.footer-stock-quote {
		padding: 0.25rem 0.4375rem 0.2rem;
		font-size: 0.8125rem;
		line-height: 1rem;
		background-color: rgba(255, 255, 255, 0.1);

		@include breakpoint(medium up) {
			margin-left: 1rem;
		}

	}

	.diff_to_previous_day_close {
		opacity: 0.6;
	}
}

// Newsletter Signup

.newsletter-subscribe {
	position: relative;
}

#mktoForm_2016 {
	display: none !important;
}

.newsletter-subscribe-wrap {
	position: fixed;
	bottom: 0;
	width: 100%;
	max-width: 100rem;

	&.absolute {
		position: absolute;
	}

	.row {
		position: relative;

		.medium-5 {
			@include breakpoint(medium up) {
				padding: 0 0.4625rem;
			}

		}
	}

	h3 {
		font-family: $colfax-medium-italic;
	}

	.newsletter-subscribe__dismiss {
		position: absolute;
		top: 1.25rem;
		right: 1.25rem;
		display: inline-block;
		margin-right: 0.94rem;
		overflow: hidden;
		line-height: 1.5;
		vertical-align: middle;
		cursor: pointer;
	}

	.select2-container--default {
		max-width: 19.19rem;

		@include breakpoint(medium up) {
			float: right;
		}

		@include breakpoint(small down) {
			display: block;
			margin: auto;
		}

		@media screen and (max-width: 21.0625em) {
			max-width: 100%;
		}

	}

	.input-group {
		display: flex;
		align-items: stretch;
		width: 100%;
		max-width: 19.19rem;

		@include breakpoint(small down) {
			display: block;
			margin: 1rem auto;
		}

	}

	.input-group-field {
		flex: 1 1 0;
		width: 100%;
		height: 2.38rem;
		max-width: 100%;
		min-width: 0;
		padding: 0.58rem 0.5rem 0.5rem;
		margin: 0;
		font-size: 0.81rem;
		color: $slate;
		white-space: nowrap;
		border: 0.06rem solid $slate-20;
		border-radius: 0.12rem 0 0 0.12rem;
		box-shadow: none;
		box-sizing: border-box;
		appearance: none;

		&::-webkit-input-placeholder {
			color: $slate-40;
		}

		&:focus {
			border-color: $slate-40 !important;
		}

		&.wrong-email {
			border: 0.06rem solid $ron-burgundy;
		}

	}

	.input-group-button {
		display: flex;
		flex: 0 0 auto;
		height: 2.38rem;
		padding-top: 0;
		padding-bottom: 0;
		text-align: center;

		@include breakpoint(small down) {
			margin: 1rem auto;
		}

	}

	.input-group-button input {
		align-self: stretch;
		padding: 0.85rem 1rem;
		font-size: 0.9rem;
		line-height: 0.6rem;
		color: $white;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		background-color: $sg-blue-80;
		border: 0.06rem solid $sg-blue;
		border-radius: 0 0.12rem 0.12rem 0;
		outline: 0;
		appearance: none;

		&:hover {
			background-color: $sg-blue;
		}

		@include breakpoint(small down) {
			display: block;
			width: 100%;
			height: 2.38rem;
			margin: auto;
			line-height: 0.5rem;
		}

	}

	.error-message {
		position: absolute;
		display: none;
		font-size: 0.6875rem;
		color: $ron-burgundy;

		@include breakpoint(small down) {
			left: 0;
			width: 100%;
			text-align: center;
		}

	}

	.newsletter-success {
		display: none;
		color: $slate-80;
	}

}
