// ====================
// Site Header Styles
// ====================

.primary-site-nav__links,
.secondary-site-nav__links,
.header-account-options,
.site-sub-nav {
	list-style: none;
}


.site-header {
	position: absolute;
	background-color: $background-color--site-nav;
	width: 100%;
	z-index: $z-index--site-header;

	@include breakpoint(large) {
		position: fixed;
	}

	.menu.align-right {
	  padding-top: 0.2rem;
	}

}

// Secondary (Small) Site Nav
.secondary-site-nav {
	font-family: $colfax-regular;
	border-bottom: 1px solid $border-color-gray;
	display: none;
	font-size: $scaledown-1;
	position: relative;

	@include breakpoint(large) {
		display: block;
	}
}

.secondary-site-nav__links {
	margin: 0;
	padding: 0;
	text-align: right;
	width: 100%;

	> li {
		margin: 0;
		padding: 0;
	}

	a {
		color: $slate-80;
		font-family: $colfax-light;
		padding: 0 $scaledown-1;
		&:hover {
			color: $sg-blue;
		}
	}
}

.secondary-site-nav__link {
	display: inline-block;
}

// Primary Site Nav
.primary-site-nav {
	box-shadow: $box-shadow--site-header;
	transition: max-height 0.4s linear;
	overflow: hidden;
	position: relative;

	@include breakpoint(large) {
		overflow: visible;
	}
}

.primary-site-nav__links {
	margin-left: 0;

	> li {
		margin-bottom: $scaleup-1;
		padding: 0;
	}

	@include breakpoint(large) {
		margin: 0;
		padding: 0;
		> li {
			margin: 0;
			padding: 0;
		}
	}

	@include breakpoint(medium down) {
		padding-top: $scaleup-1;
		padding-bottom: $scaleup-1;
		margin-bottom: $scaleup-1 * -1;
	}
}

.primary-site-nav__link {
	position: relative;
	cursor: pointer;
	padding-bottom: 0!important;
	&:hover > a {
		color: $sg-blue;
	}

	> a {
		display: block;
		color: $slate;
		font-family: $colfax-light;
		font-size: $scale-0;
		line-height: $scaleup-2;

		@include breakpoint(large) {
			margin-bottom: 0;
			font-family: $colfax-medium;
			font-size: $scaledown-1;
			letter-spacing: 1px;
			line-height: 75px;
			text-align: center;
			text-transform: uppercase;
		}
	}
}

.primary-site-nav__logo {
	padding-bottom: $scaleup-2;
	padding-top: $scaleup-2;

	a,
	img {
		max-height: 27px;
	}

	a {
		background-image: url("{{current_school.logo_url}}");
		background-position: left center;
		background-repeat: no-repeat;
		background-size: 248px auto;
		display: block;
		height: 35px;
		width: 248px;
 }
}

.primary-site-nav__partner-logo {
	margin-left: $scaleup-2;
	text-align: center;
}

// Sub nav
.site-sub-nav {
	max-height: 0;
	transition: max-height 0.2s linear;
	overflow: hidden;
	margin-left: $scale-0 * -1;
	margin-right: $scale-0 * -1;

	li {
		margin-bottom: $scaleup-1;
		padding: 0;
	}

	@include breakpoint(large) {
		margin-left: auto;
		margin-right: auto;
		position: fixed;
		left: 0;
		right: 0;

		li {
			margin-bottom: $scaledown-1;
		}

		&:hover {
			display: block;
			z-index: $z-index--site-sub-nav;
		}
	}

	&-link {
		font-family: $colfax-light;
		font-size: $scale-0;
		line-height: $scaleup-2;

		@include breakpoint(large) {
			font-family: $colfax-medium;
			font-size: $scaledown-1;
			letter-spacing: 1px;
			text-align: center;
			text-transform: uppercase;
		}
	}
}
.primary-site-nav__profilelink {

	&:hover .site-sub-nav {
		@include breakpoint(large) {
			max-height: 320px;
			z-index: $z-index--site-header;
			box-shadow: $box-shadow--site-header;
			// padding-top: 0.625rem;
		}
	}

	svg {
		margin-left: 0.4rem;
		margin-top: 0.35rem;
	}
}

.primary-site-nav__link.is-open a {
	@include breakpoint(medium down) {
		color: $sg-blue;
	}
}

.primary-site-nav__link.is-open .site-sub-nav {
	@include breakpoint(medium down) {
		max-height: 500px;
	}
}

.site-sub-nav__wrapper {
	background-color: $background-color--mobile-sub-nav;
	border-top: $border-width solid $border-color-gray;
	border-bottom: $border-width solid $border-color-gray;
	margin-top: $scale-0;

	@include breakpoint(large) {
		background: $background-color--sub-nav;
		margin-top: 0;
	}
}

.site-sub-nav__row.row {
	padding-top: $scaleup-2;
	padding-bottom: $scaleup-2;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: $scaleup-1 * -1;

	@include breakpoint(large) {
		margin-bottom: $scaledown-1 * -1;
	}
}

.site-sub-nav__row--left {
	text-align: left;
}

.site-sub-nav-link {
	cursor: pointer;
	&:hover {
		.site-sub-nav-link__title,
		.site-sub-nav-link__cta {
			color: $sg-blue;
		}
		.site-sub-nav-link__tease > a {
			color: $slate;
		}
	}
}

.site-sub-nav__section-title {
	text-align: left;
}

.site-sub-nav__separator {
	margin-top: $scaledown-2;
	margin-bottom: $scaledown-2;
}

.site-sub-nav-link__title {
	font-family: $colfax-medium;
	color: $slate;
	transition: color 0.3s;
}

.site-sub-nav-link__tease {
	text-align: left;
	line-height: $scaleup-2;
	> a {
		color: $slate-80;
		font-size: $scaledown-1;
	}
}

.site-sub-nav-link__cta {
	display: block;
	margin-top: $scaledown-5;
	color: $sg-blue-80;
}

.site-sub-nav__pointer {
	display: none;

	@include breakpoint(large) {
		&:before,
		&:after {
			bottom: -1px;
			content: '';
			left: 50%;
			position: absolute;
			transform: translate(-50%, 0);
			z-index: $z-index--site-sub-nav + 1;
		}
		&:before {
			border: 10px transparent solid;
			border-bottom-color: $border-color-gray;
		}
		&:after {
			border: 8px transparent solid;
			border-bottom-color: $background-color--sub-nav;
		}
	}
}

.primary-site-nav__link:hover .site-sub-nav__pointer {
	display: inline-block;
}

// Mobile Site Header
.site-header__toggle {
	display: block;
	font-size: 1.875rem;
	position: absolute;
	width: 32px;
	right: calc(1rem);
	top: 0;
	height: 73px;
	background: transparent;
	border: none;
	z-index: 1000;
	line-height: 1;
	padding: 0;
	&:hover,
	&:focus {
		color: $sg-blue;
		outline: none;
	}

	@include breakpoint(large) {
		display: none;
	}
}

.site-header__menu {
	background: $sg-blue;
	display: block;
	height: 2px;
	overflow: visible;
	position: absolute;
	transition: background .3s;
	width: $scaleup-3;
	&::before,
	&::after {
		content: "";
		position: absolute;
		left: 0;
		width: $scaleup-3;
		height: 2px;
		background: $sg-blue;
		transition: transform .2s;
	}
	&::before {
		top: -8px;
	}
	&::after {
		top: 8px;
	}

	@include breakpoint(medium down) {
		display: block;
	}
}

@include breakpoint(medium down) {
	.primary-site-nav.is-closed {
		max-height: 75px;
		overflow: hidden;
	}
	.primary-site-nav.is-open {
		max-height: 1000px;
		.site-header__menu {
			background: transparent;
			transition: background-color 0s;
			&::before,
			&::after {
				transition: transform .3s;
			}
			&::before {
				top: 0;
				box-shadow: none;
				transform: rotate(45deg);
			}
			&::after {
				top: 0;
				transform: rotate(-45deg);
			}
		}
	}
}

// Logged out
.header-account-overview {
	display: none;
	position: relative;
}

// Logged in
.app-logged-in .secondary-site-nav__link-to-signup,
.app-logged-in .secondary-site-nav__link-to-login {
	display: none;
}

.app-logged-in .header-account-overview {
	position: relative;
	display: inline-block;
	height: 100%;
	a {
		color: $slate-80;
		&:hover {
			color: $sg-blue;
		}
	}
}

.app-logged-in .header-account-options {
	background: $background-color--sub-nav;
	box-shadow: $box-shadow;
	display: none;
	padding: $scaledown-4;
	position: absolute;
	right: 0;
	top: $scaleup-2;
	width: 120px;
	z-index: 1000;

	li {
		display: block;
		margin: 0;
		text-align: center;
	}

}

.app-logged-in .header-account-overview:hover .header-account-options {
	display: block;
}

.page__header {
	text-align: center;
}