.error404 {
	background: linear-gradient(rgba(26, 130, 226, 0.85), rgba(26, 130, 226, 0.85)), url("assets/images/404/penguin.gif") no-repeat center center fixed;
	background-size: cover;

	.site-header,
	.site-footer {
		display: none;
	}

	.container .row {
		height: 100vh;
	}
}

.errorpage {
	.error-logo {
		position: relative;
		top: 0;
		width: $scaleup-11;
	}

	.copy-wrapper {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 2;
		width: 100%;
		padding-right: $scale-0;
		padding-left: $scale-0;
		margin-top: 0;
		text-align: center;
		transform: translateX(-50%) translateY(-50%);
	}
}
