.home {

	main {
		padding: 0;
	}

	// Animated headline
	.animated-headline {

		@include breakpoint(small down) {
			font-family: $colfax-medium;
			font-size: $scaleup-3;
		}

		span:not(.animated-headline__words-wrapper) {
			display: inline;
			padding: 0;

			@include breakpoint(medium) {
				display: inline-block;

				&:first-child {
					margin: 0 3px 0 0;
				}
			}
		}
	}

	.animated-headline__words-wrapper {
		display: none;
		overflow: hidden;
		position: relative;
		transition: width 0.3s;
		vertical-align: middle;
		width: auto;
		margin: 0;

		@include breakpoint(medium) {
			display: inline-block;
		}

		&::after {
			/* loading bar */
			@include gradient($sg-blue);
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			height: 3px;
			width: 0;
			z-index: 2;
			transition: width .3s -0.1s;
		}

		&.is-loading::after {
			width: 100%;
			transition: width 3s;
		}

		b {
			left: 0;
			opacity: 0;
			position: absolute;
			top: .2em;
			white-space: nowrap;

			&.is-showing {
				opacity: 1;
				position: relative;
				top: -1px;
				&:not(.show-on-load) {
					@include animation('slide-in .6s');
				}
			}

			&.is-hiding {
				&:not(.hide-on-load) {
					@include animation('slide-out .6s');
				}
			}
		}
	}

	.home-tile__thumbnail {
		height: auto;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		border-bottom: 1px solid $border-color-gray;
		&:before {
			content: '';
			display: block;
			width: 100%;
			padding-top: 52.63%;
		}
	}

	.home-tile__copy {
		padding: $scaleup-2;
		text-align: center;
		h3 {
			display: inline-block;
		}
		h1,
		.p {
			display: block;
			max-width: 300px;
			margin-right: auto;
			margin-bottom: $scaleup-1;
			margin-left: auto;
			font-family: $colfax-light;
			font-size: $scale-0;
			line-height: $scaleup-3;
			color: $slate-80;
		}
	}

	.seafoam-underline {
		border-bottom: 2px solid $seafoam;
	}

	.mantis-underline {
		border-bottom: 2px solid $mantis;
	}
}


.login-link {
  display: block;

  span {
  	text-decoration: underline;
  }
}

header.p-relative {

	img {
		margin-left: -1px;
	}

	&::after {
	  content: '';
	  height: 18.06rem;
	  position: relative;
	  bottom: 0;
	  margin-top: -0.5rem;
	  display: block;
	  background: #4627B0;
	}

}

.section-1 {
	position: relative;
  z-index: 8;

	.row {

		padding: 3.5rem 1rem;

		&.p-absolute {
		  top: -17rem;
		  right: 0;
		  padding-right: 2rem;
		}

	}

	.book-shelf {
		max-width: 635px;
	}

	.floating-tile--blue-border {
	  max-width: 360px;
	  float: right;
	  box-shadow: 0 0 0 0 #E8F2FC, 8px 8px 3px #E8F2FC;

	  svg {
	  	margin-bottom: 1rem;
	  }

	  h3 {
	  	max-width: 90%;
	  	margin-bottom: 0.5rem;
	  }

	  p {
	  	margin-bottom: 0
	  }

	}

}

.section-2 {
	background: $sg-blue-2;

	.floating-tile {
		max-width: 700px;
		margin-bottom: 0.5rem;
		position: relative;
		padding-left: 2rem;

		&::before {
		  content: '';
		  width: 1rem;
		  height: 1rem;
		  border-radius: 100%;
		  display: block;
		  position: absolute;
		   top: 1.88rem;
  		left: 1.5rem;

		}

		&.seafoam-dot {

			&::before {
				background: $seafoam;
			}

		}

		&.orange-dot {

			&::before {
				background: #FF9900;
			}

		}

		&.screample-dot{

			&::before {
				background: $screample;
			}

		}

	}

	.svg-hand {
		top: 0;
		right: 0
	}

}

.signup-banner {
	background: $screample;

	h2{
		color: $white
	}

}
