.single-use_case {
	.page-header {
		@include gradient($sg-blue);
	}
	.left-right-image {
		img {
			margin-top: $scaleup-5;
			@include breakpoint(large) {
				margin-top: 0;
			}
		}
	}
	.tip {
		margin-top: $scaleup-5;
		padding: $scaleup-1;
		.tip-headline {
			display: flex;
			align-items: center;
			margin-bottom: $scaledown-2;
			h4 {
				margin-bottom: 0;
				margin-left: 7px;
				margin-top: 5px;
			}
		}
		p {
			@extend %font-small;
			margin-bottom: 0;
		}
	}
}
